version: '3.3'
services:
  mysqldb:
    image: mysql:latest
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: triviadb
      MYSQL_USER: root
  triviaapp:
    build: .
    environment:
      DB_HOST: mysqldb
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: triviadb
      SPRING_PROFILES_ACTIVE: mysql
    depends_on:
      - mysqldb
    ports:
      - "8080:8080"
volumes:
  db_data: {}